html
  head
    title TGA | #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(name="theme-color" content="#6A1B9A")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js')
    script(src='/javascripts/numeral.min.js')
    script(src='//code.jquery.com/ui/1.12.1/jquery-ui.js')
    link(rel='stylesheet', href='/stylesheets/stylefull.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  body
    block content
